
<div class="container">
  <div class="content">
    <h2>Question: "<%= @question %>"</h2>
    <h1>Answer: "<%= @answer %>"</h1>
    <h3><%= link_to "Ask another question", ask_path %></h3>
  </div>

</div>
